@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    margin:0 auto ;
    display: flex;
    justify-content: center;
}

.container{
text-align: center;
    margin-top: 30px;
    border: 2px solid black;
    width: 60%;
    padding: 20px;
}
.grid-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    margin-top: 70px;
    align-items: baseline;
}
.item{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
p{
    color: gray;
    font-size: 12px;
}
.item p{
    font-style: italic;
    margin-top: 0;

}
.icon{
    background-color: rgb(125, 213, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.icon i{
    width: 80%;
    height: 80%;
    font-size: 40px;
}

h4{
    font-weight: 500;
}